HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Config ###
NYU-IMG/src/main/resources/application.yml
NYU-IMG/target/classes/application.yml

### Django ###
NYU_Manage/*.log
NYU_Manage/*.pot
NYU_Manage/*.pyc
NYU_Manage/__pycache__/
NYU_Manage/local_settings.py
NYU_Manage/db.sqlite3
NYU_Manage/db.sqlite3-journal
NYU_Manage/media
NYU_Manage/.config_secret
