<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatiorg//DTD Mapper 3.0//EN" "http://mybatiorg/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyanyumserver.nyanyumserver.mapper.StoreMapper">
    <resultMap type="com.nyanyumserver.nyanyumserver.VO.StoreInfo" id="StoreInfo">
        <result column="storeId" property="storeId"/>
        <result column="storeAlias" property="storeAlias"/>
        <result column="address" property="address" />
        <result column="category" property="category"/>
        <result column="mapx" property="mapX"/>
        <result column="mapy" property="mapY"/>
        <result column="score" property="score"/>
        <result column="scoreCount" property="scoreCount"/>
        <result column="likeCount" property="likeCount"/>
        <result column="saveCount" property="saveCount"/>
        <result column="imagePath" property="imagePath"/>
        <result column="registerDate" property="updateDate"/>
    </resultMap>
    <select id="getStoreList" parameterType="com.nyanyumserver.nyanyumserver.VO.StoreInfo" resultMap="StoreInfo">
        SELECT *
        FROM store
            <if test="category != null">
                WHERE category = #{category}
            </if>
        LIMIT #{endPageNo} OFFSET #{startPageNo}
        <choose>
            <when test = "order == 'fastest'">
                ORDER BY registerDate DESC;
            </when>
            <when test="order == 'oldest'">
                ORDER BY registerDate ASC;
            </when>
            <when test="order == 'popular'">
                ORDER BY likeCount  DESC;
            </when>
            <when test="order == 'highScore'">
                ORDER BY score DESC;
            </when>
        </choose>
    </select>

    <select id="getStoreInfo" parameterType="com.nyanyumserver.nyanyumserver.VO.StoreInfo" resultMap="StoreInfo">
        SELECT *
        FROM store
        WHERE storeAlias = #{storeAlias};
    </select>

    <select id="getSearchStore" resultMap="StoreInfo">
        SELECT *
        FROM store
        WHERE storeAlias LIKE CONCAT ('%', #{storeAlias}, '%')
            <choose>
                <when test="order == 'fastest'">
                    ORDER BY registerDate DESC;
                </when>
                <when test="order == 'oldest'">
                    ORDER BY registerDate ASC;
                </when>
                <when test="order == 'popular'">
                    ORDER BY likeCount DESC;
                </when>
                <when test="order == 'highScore'">
                    ORDER BY score DESC;
                </when>
            </choose>
    </select>

    <select id="getMonthlyStore" resultMap="StoreInfo">
        SELECT *
        FROM store
        ORDER BY likeCount DESC
        LIMIT 5;
    </select>

    <select id="getRegister" parameterType="com.nyanyumserver.nyanyumserver.VO.StoreInfo" resultMap="StoreInfo">
        INSERT INTO store (storeAlias, address, category, imagePath, mapx, mapy)
        VALUES (#{storeAlias}, #{address}, #{category}, #{imagePath}, #{mapX}, #{mapY})
    </select>

    <select id="getStoreId" parameterType="String" resultType="String">
        SELECT *
        FROM store
        WHERE storeId = #{storeId}
    </select>

    <select id="getAddress" parameterType="String" resultType="String">
        SELECT address
        FROM store
        WHERE address = #{address}
    </select>

</mapper>
