<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyanyumserver.nyanyumserver.mapper.UserMapper">
    <resultMap type="com.nyanyumserver.nyanyumserver.VO.UserInfo" id="UserInfo">
        <result column="uid" property="uid"/>
        <result column="userAlias" property="userAlias" />
    </resultMap>
    <select id="getUid" parameterType="com.nyanyumserver.nyanyumserver.VO.UserSearchInfo" resultType="String">
        SELECT uid
        FROM user
        WHERE uid = #{uid}
    </select>
    <select id="getLogin" parameterType="com.nyanyumserver.nyanyumserver.VO.UserSearchInfo" resultMap="UserInfo">
        SELECT *
        FROM user
        where uid = #{uid}
    </select>

    <select id="getRegister" parameterType="com.nyanyumserver.nyanyumserver.VO.UserSearchInfo" resultMap="UserInfo">
        INSERT INTO user (uid, useralias, registerDate)
        VALUES (#{uid}, #{userAlias}, #{registerDate})
    </select>

    <select id="getSecession" parameterType="java.lang.String">
        DELETE FROM user
        WHERE uid = #{uid}
    </select>

    <update id="getUpdateUserAlias" parameterType="com.nyanyumserver.nyanyumserver.VO.UserSearchInfo">
        UPDATE user
        SET useralias = #{userAlias}
        WHERE uid = #{uid}
    </update>

    <update id="getUpdatePath" parameterType="com.nyanyumserver.nyanyumserver.VO.UserSearchInfo">
        UPDATE user
        SET path = #{path}
        WHERE uid = #{uid}
    </update>

</mapper>
